:root {
    --primary-color: #2d6e99f1;
    --secondary-color: #f1f1f1;
    --text-size-sub-title: 22px;
    --text-size-servicios-title: 20px;
    --text-color: rgb(190, 131, 21);
}

body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    position: relative;
    background: var(--primary-color);
    font-size: 20px;
    padding: 0px 30px;
    z-index: 1000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.747);
    color: white;
}

.navbar ul {
    color: #f7e26c;
    font-size: 25px;
}


.box-icono {
    /* background: rgb(228, 228, 228); */
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-items: center;
    gap: 15px;
}


.box-icono i {
    color: #ffffff;
    font-size: 52px;
}

.box-icono p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}

.box-icono p:nth-child(2) {
    font-size: 20px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-style: italic; */
    display: inline;
    text-align: right;
}

.box-icono-text {
    display: flex;
    flex-direction: column;
}

.portada {
    height: 400px;
    font-weight: 300;
    line-height: 1.25em;
    letter-spacing: 1px;
}

.slide_text {
    background: #212d45;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.747);
}

main {
    position: relative;
}

.portada-1 {
    position: relative;
}

.servicios {
    position: absolute;
    width: 100%;
    height: 80px;
    background: #2d6e9981;
    text-align: center;
    bottom: 0;    
}

.servicios>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
}


.servicios p {
    position: relative;
    /* transform: translateY(20%); */
    font-size: 15px;
    text-align: right;
    color: white;
}

.servicios_title {
    color: white;
    font-size: var(--text-size-servicios-title);
    font-weight: bold;
    text-align: left;
}

@media screen and (max-width: 500px) {
    .servicios>div {
        flex-direction: column;
        justify-content: center;
    }
    .servicios {
        height: 140px;        
    }
    .servicios_title {
        text-align: center;
    }
    .servicios p {
        text-align: center;
    }
 }
 
.imagenes {
    width: 100%;
    /* min-height: 600px; */

    /* max-height: 700px; */
    display: grid;
    grid-template-areas: "img1 img2 img3"
        "img4 img5 img5";
    overflow: hidden;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    background: #f3cf06;
    gap: 2px;
}


@media screen and (max-width: 550px) {
    .imagenes picture {
        height: 200px;
    }
    .imagenes{
        grid-template-areas: "img1 img2"
        "img3 img4"
        "img5 img5";
    }

}

@media screen and (min-width: 1000px) {
    .imagenes picture {
        height: 370px;
    }    
    .servicios {
        height: 130px;         
    }
    
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.imagenes picture:nth-of-type(1) {
    grid-area: img1;
}

.imagenes picture:nth-of-type(2) {
    grid-area: img2;
}

.imagenes picture:nth-of-type(3) {
    grid-area: img3;
}


.imagenes picture:nth-of-type(4) {
    grid-area: img4;
}


.portada-img .imagenes picture:nth-of-type(5) {
    grid-area: img5;
}

.section {
    font-weight: 300;
    line-height: 1.25em;
    letter-spacing: 1px;
    /*word-spacing: 0.25em;*/
    padding: 10px;
    border: 1px solid #005a9b1f;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto;
    max-width: 700px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* color: rgb(190, 131, 21); */
}

.section:hover li,
.section:hover h2 {
    /* filter: drop-shadow(1px 1px 2px rgb(255, 255, 255)); */
}

.section:hover li {}

/*
.section:hover::before {
    transform: translateX(0%) rotate(0deg);
    top: 0;
} */

/* .section::before {
    content: '';
    position: absolute;
    top: 80%;
    transform: translateX(-100%) rotate(45deg);
    width: 100%;
    height: 100%;
    left: 0;
    /* background: #0944b36e; */
/* background: linear-gradient(rgba(9, 68, 179, 0.2), rgba(9, 68, 179, 0.1)), url('/portada.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.5s, top 0.5s;
    border-radius: 10px;
} */


.section>div>i {
    font-size: 30px;
    color: #000000;

}

.section>ul {
    width: 70%;
    margin: 0 auto;
}

.section>ul>li {
    display: flex;
    gap: 15px;
    margin: 10px 0px;
}

.section_title {
    color: #005a9b;
    font-size: var(--text-size-sub-title);
    font-weight: bold;
}

.secction li {
    font-family: 18px;
}

.slider_contactanos {
    position: relative;
    height: 200px;
    width: 100%;
}

.slider_contactanos picture {
    height: 100%;
    overflow: hidden;
    display: block;
}

.slider_contactanos picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-text {
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    background: rgba(0, 91, 165, 0.774);
    width: 100%;
    height: 100%;
}

.slider_contactanos .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.text h2 {
    color: white;
    font-size: var(--text-size-sub-title);
    ;
}

.slider_contactanos .text a {
    background: blue;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    width: fit-content;
    color: white;
}